.carousel{
    width: 400px;
}

.container-fluid {
    display: flex;
    justify-content: space-around;
  }

body{
    background-image: url("images/info.png");
}

#bio{
    padding: 10px 30px;
}

.carousel-inner{
    border-radius: 5px;
}

div.alert{
    margin: 10px 30px;
}

div.row{
    margin: 10px 30px;
}

img{
    border-radius: 5px;
}

p.h2{
    margin: 10px 30px;
}